VITE_APP_MODE=development

VITE_BASE_SERVER_URL=
VITE_BASE_PROXY_URL=
VITE_API_DEVICE_AUTH=
VITE_API_DEVICE_JWT=
VITE_API_USER_AUTH=

VITE_WALLETCONNECT_PROJECT_ID=
VITE_WALLETCONNECT_RELAY_URL=wss://relay.walletconnect.com
VITE_BASE_URL=

